* text=auto eol=lf
.gitattributes text eol=lf
LICENSE text eol=lf
NOTICE text eol=lf
*.md text eol=lf
*.json text eol=lf
*.cjs text eol=lf
*.py text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.sh text eol=lf
*.ps1 text eol=lf
